@model SimulationResults

@{
    ViewData["Title"] = "Simulation Results";
}

<div class="container mt-5">
    <h2 class="text-center">Simulation Results</h2>

    <div class="card mt-4">
        <div class="card-header">
            <h4>Simulation Plot</h4>
        </div>
        <div class="card-body text-center">
            <img src="data:image/png;base64,@ViewBag.PlotImage" alt="Simulation Plot" />
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h4>Simulation Data</h4>
        </div>
        <div class="card-body">
            @if (Model != null && Model.TimeEvents != null && Model.TimeEvents.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Queue Length</th>
                            <th>Waiting Times</th>
                            <th>Waiting Times In Queue</th>
                            <th>Arrival Time</th>
                            <th>Departure Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TimeEvents.Count; i++)
                        {
                            <tr>
                                <td>@Math.Round(Model.TimeEvents[i],5)</td>
                                <td>@Model.QueueLengths[i]</td>
                                <td>@(i < Model.WaitingTimes.Count ? Math.Round(Model.WaitingTimes[i], 5).ToString() : "")</td>
                                <td>@(i < Model.WaitingTimesInQueue.Count ? Math.Round(Model.WaitingTimesInQueue[i], 5).ToString() : "")</td>
                                <td>@(i < Model.ArrivalTime.Count ? Math.Round(Model.ArrivalTime[i], 5).ToString() : "")</td>
                                <td>@(i < Model.ServiceTime.Count ? Math.Round(Model.ServiceTime[i] + Model.ArrivalTime[i] + Model.WaitingTimesInQueue[i], 5).ToString() : "")</td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No simulation data available.</p>
            }
        </div>
    </div>
</div>
